node-red/flows_slideshow.json
[{"id":"74087311.c65e8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"907290fc.55c2","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"362cd470.b1ef94","type":"ui_group","name":"Default","tab":"907290fc.55c2","order":1,"disp":false,"width":"6","collapse":false},{"id":"c4cce22d.825de8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ece9e464.2f0d1","type":"ui_switch","z":"74087311.c65e8c","name":"","label":"Display ON/OFF","tooltip":"","group":"362cd470.b1ef94","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":520,"y":280,"wires":[["947722c6.7f5e5","ffd69a5f.f44e7"]]},{"id":"8eaf5fd3.2a5c78","type":"exec","z":"74087311.c65e8c","command":"./Documents/ProjectEuropa/start_slideshow.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1160,"y":240,"wires":[["4ef34f3e.9034e"],["4ef34f3e.9034e"],["4ef34f3e.9034e"]]},{"id":"4ef34f3e.9034e","type":"debug","z":"74087311.c65e8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":280,"wires":[]},{"id":"1634336d.b61ca5","type":"exec","z":"74087311.c65e8c","command":"./Documents/ProjectEuropa/end_slideshow.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1160,"y":340,"wires":[["4ef34f3e.9034e"],["4ef34f3e.9034e"],["4ef34f3e.9034e"]]},{"id":"947722c6.7f5e5","type":"switch","z":"74087311.c65e8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":280,"wires":[["8eaf5fd3.2a5c78"],["1634336d.b61ca5"]]},{"id":"a34498bc.7c3b88","type":"inject","z":"74087311.c65e8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":180,"wires":[["8eaf5fd3.2a5c78"]]},{"id":"6689c208.03361c","type":"inject","z":"74087311.c65e8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":840,"y":420,"wires":[["1634336d.b61ca5"]]},{"id":"ffd69a5f.f44e7","type":"change","z":"74087311.c65e8c","name":"","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[[]]},{"id":"96f07689.d37f98","type":"change","z":"74087311.c65e8c","name":"","rules":[{"t":"set","p":"state","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":340,"wires":[[]]},{"id":"ada5e357.296","type":"inject","z":"74087311.c65e8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":310,"y":280,"wires":[["96f07689.d37f98","ece9e464.2f0d1"]]}]